# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl

# Variables de Terraform (pueden contener información sensible)
*.tfvars
!example.tfvars

# Llaves privadas
*.pem
*.key

# Logs
*.log

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db 